@import "../../styles/variables";

.c-fields-of-work-container {
  width: calc(100% + 15.625rem);
  margin-bottom: 2.5rem;
  position: relative;
  left: -15.625rem;
  background: $gradientGreen;
  color: $alabaster;
  padding: 5rem 5rem 5rem 0;
  box-shadow: -0.9375rem 0.9375rem 2.25rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media screen and (max-width: 1199px) {
    left: 0;
    padding: 5rem 2.5rem;
    width: 100%;
  }
}

.c-fields-of-work__title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 400;
  padding-left: 15.625rem;

  @media screen and (max-width: 1199px) {
    padding-left: 0;
  }
}

.c-divider-title {
  color: $copper;
  transform: rotate(180deg) translateX(38%);

  @media screen and (max-width: 1199px) {
    transform: rotate(180deg) translateX(68%);
  }
}

.c-slider-action {
  display: block;
  position: absolute;
  top: calc(50% + 5rem);
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform .2s linear;
  transform-origin: center;
  width: 3rem;
  z-index: 50;

  &.right {
    right: 1.5rem;
  }

  &.left {
    transform-origin: center;
    transform: translateY(-50%) rotate(180deg);
    left: 1.5rem;
  }

  svg {
    fill: $alabaster;
  }

  @media screen and (max-width: 1199px) {
    width: 3rem;

    &.left {
      left: 0;
      display: block;
    }

    &.right {
      right: 0;
    }
  }
}

.c-fields-of-work-slider__wrapper {
  position: relative;
  min-height: 22rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5rem;

  @media screen and (max-width: 1199px) {
    padding-left: 0;
  }
}

.c-fields-of-work-slider {
  max-width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 1.25rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.c-field-of-work {
  scroll-snap-align: center;
  min-width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-height: 25rem;
  overflow-y: hidden;
  background: $gradientCream;
  color: $richBlackFogra39;
  box-shadow: -1rem 1rem 1.5625rem rgba(0, 0, 0, 0.5);
  padding: 2.5rem;
  transition: transform .2s linear;
  cursor: pointer;

  &:hover {
    transform: scale(.95);
  }

  @media screen and (min-width: 1200px) {
    min-width: 20rem;
  }
}

.c-field-of-work__icon {
  aspect-ratio: 1;
  width: 6rem;
}

.c-field-of-work__title {
  font-size: 1.625rem;
  text-align: left;
}

.c-field-of-work__desc {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}