
// Color Variables
$alabaster: #ebe8e1;
$charlestonGreen: #272c2c;
$richBlackFogra39: #070b0d;
$timberwolf: #D7D4CC;
$copper: #a26f3f;

//Color Gradients
$gradientGreen: linear-gradient(45deg, #272c2c 65%, #303636);
$gradientGreenTransparent: linear-gradient(transparent 0%, $charlestonGreen 30%);
$gradientCream: linear-gradient(45deg, $alabaster, #D6D0C2);

// Font Variables
$playfairDisplay: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;

@mixin breakpoint {
  @media screen and (max-width: 1199px) {
    @content;
  }
}