@import "../../styles/variables";

.c-about {
  margin-right: 15.625rem;
  display: flex;
  align-items: center;
  color: $richBlackFogra39;

  @include breakpoint {
    overflow-x: hidden;
    margin: 0;
  }
}

.c-about-text__container {
  position: relative;
  padding: 2.5rem 0;
  padding-right: 5rem;
  background-color: $alabaster;
  padding-left: 15.625rem;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  
  & > * {
    max-width: 40.625rem;
    margin-left: auto;
  }

  .c-divider {
    transform: translateX(50%);

    @include breakpoint {
      transform: translateX(25%);
    }
  }

  @include breakpoint {
    padding: 5rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &::after {
    --s: 18.75rem; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
  
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: .1;
    mix-blend-mode: multiply;
  }
}

.c-about__heading {
  line-height: 4rem;
  font-size: 3rem;
  letter-spacing: -0.005em;
}

.c-about-img {
  width: 45rem;

  @include breakpoint {
    display: none;
  }
}

.c-about__text {
  text-align: justify;
}