@import "../../styles/variables";

.c-footer {
  background: $gradientGreen;
  margin-left: 15.625rem;
  margin-top: -12.5rem;
  padding: 5rem 15.625rem 5rem 5rem;
  box-shadow: -0.9375rem .9375rem 2.25rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1; 
  color: $alabaster;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  @include breakpoint {
    margin: 0;
    padding: 5rem 2.5rem;
    flex-direction: column;
    gap: 2.5rem;
  }

  .c-ornament {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 15.625rem;
    transform: translateY(-50%) translateX(50%);

    @include breakpoint {
      display: none;
    }
  }
}

.c-footer__location,
.c-footer__team-member {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.c-footer__title {
  font-size: 1.5rem;
  display: flex;
  align-items: center;

  &::after {
    display: inline-block;
    content: "";
    background-image: url('../../assets/images/divider.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 6.25rem;
    height: 1.25rem;
    margin-left: -2.5rem;
    transform: rotate(180deg);
  }
}

.c-footer__adress,
.c-footer__city,
.c-footer__email,
.c-footer__phone,
.c-footer__social {
  cursor: pointer;
  font-weight: 300;
  color: $alabaster;
  display: flex;
  align-items: center;
  gap: .3125rem;
  transition: .2s linear;
  transform-origin: center;

  & > a {
    color: $alabaster;
  }

  svg {
   path {
    stroke: $alabaster;
   } 
  }

  &:hover {
    transform: scale(1.1);
    text-decoration: underline;
  }
}

.c-disclaimer {
  margin-top: 5rem;
  color: $alabaster;
  text-align: center;
  font-weight: 300;
  display: block;
  font-size: .75rem;
  padding: .625rem 0;
}